body{
background-color: rgb(250, 255, 105);
color:blue;
display: flex;
justify-content: center;
align-items: center;
}
main{ 
    text-align: center;
    max-width: 90;
 }
 button{
    background-color: rgb(141, 218, 246);
    color: aliceblue;
    padding: 20%;
 }

.img01{
width: 70%;
}